body {
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding: 0px;
}

.nav-collapse-width {
  width: 100vw;
}
.navbar-nav .nav-item {
  margin-right: 5px; /* Adjust this value to increase/decrease space between tabs */
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}
.navbar {
  position: fixed;
  font-size: 20px;
  padding: 0px 0px;
  background-color: rgb(255, 255, 255);
  position: fixed-top;
  padding-left: 0px;
  z-index: 2;
  padding-bottom: 0px;
}
/* a:hover{
    color: rgb(29, 29, 122) !important;
    
} */
.navbar-nav .nav-link {
  position: relative;
  color: navy !important;
  text-decoration: none;
  transition: color 0.5s ease;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: red; /* Set your desired underline color */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.navbar-nav .nav-link:hover {
  color: #ff5733; /* Set your desired text color on hover */
}

.navbar-nav .nav-link:hover::before {
  transform: scaleX(1);
}

.qumash-logo {
  padding: 5px;
  height: 76px;
  width: 140px;
}
.search-form {
  height: 40px;
  width: 252px;
  border: 1px solid darkgreen;
  border-radius: 6px;
}
.search-form input {
  border: none !important;
}
.search-form button {
  border: none !important;
}
.user-icon {
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
  border: none;
  background: none;
  padding-top: 9px;
  padding-left: 90px;
}
.user-icon img {
  height: 40px;
  width: 40px;
}
.wishlist-icon {
  height: fit-content;
  width: fit-content;
  border: none;
  background: none;
}
.wishlist-icon img {
  height: 50px;
  width: 50px;
}
.home-bg {
  background-color: #f5f5d1;
}
.cart-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* Ensure it's above other content */
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.cart-btn img {
  height: 30px;
  width: 30px;
}

.cart-btn:hover {
  height: 60px;
  width: 60px;
}

.carousel-status{
  display: none!important;
}
.control-dots{
  display: none!important;
}

/* Discounts */
.thumbs{
  display: none!important;
}
.offer-container {
  display: flex;
  justify-content: center;
  background-color: #d4d5d5;
  width: 1000px;
}
.offer-img-holder {
  display: flex;
  justify-content: center;
  width: 900px;
  height: 628px;
  padding-top: 120px;
}
.offer-img {
  width: 100%;
  height: 100%;
  padding-bottom: 160px;
}

.offer-container-row {
  background-color: #d1d1b5;
}
.offer-container-col-1 {
  padding: 20px;
  padding-top: 65px;
}
.offer-container-col-2 {
  padding: 87px 25px;
}
.offer-container-col-2 img {
  width: 500px;
  height: 900px;
}

.col-2:hover{
    background-color: blanchedalmond;
    border-radius: 5%;
}
/* Deals */
hr {
  width: 100%;
  background-color: gray;
  height: 1%;
}
.deals-header {
  text-align: center;
  padding: 15px;
  background: url(./deals\ images/deals-bg.jpeg) no-repeat center;
  background-size: cover;
  margin-top: 10px;
}
.deals-header h1 {
  color: #d43226;
  font-weight: 900;
  font-size: 40px;
  font-family: cursive;
}
.deals-header span {
  color: darkred;
  font-size: 20px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.deals {
  padding: 0px 20px;
}

.deals-img {
  height: 210px;
}
.deals hr {
  color: black;
  height: 2px;
  line-height: 50%;
  background-color: black;
}
.deals-span {
  font-size: 16px;
}
.deals-strike {
  color: rgb(230, 75, 75);
  font-size: 12px;
}
.deals-price {
  font-size: 20px;
}

/* RakshaBandhan Block */
.carousel .slide{
  text-align: left !important;
}
.rb-header {
  text-align: center;
  padding: 15px;
  background: url(./Rakhi\ images/rb-bg.png) no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-size: 500px;
  margin-top: 20px;
}
.rb-header h1 {
  color: darkblue;
  font-weight: bold;
  font-size: 40px;
  font-family: cursive;
}
.rb-header span {
  font-size: 20px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.rb hr {
  color: black;
  height: 2px;
  line-height: 50%;
  background-color: black;
}
.rb {
  padding: 0px 20px;
}
.rb-img {
  height: 210px;
}
.rb-span {
  font-size: 16px;
}
.rb-price {
  font-size: 20px;
}
.rb-strike {
  color: rgb(230, 75, 75);
  font-size: 12px;
}

/* Top Brands */
.brand-header {
  text-align: center;
  padding: 15px;
  background: url(./Brands\ images/brands-bg.png) no-repeat center;
  background-size: cover;
  margin-top: 20px;
}
.brand-header h1 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 40px;
  font-family: cursive;
}
.brand-header span {
  font-size: 20px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.brands {
  padding: 0px 20px;
}
.brands-img {
  height: 210px;
}
.brands-logo {
  height: 50px;
  width: 80px!important;
}
.brands hr {
  color: black;
  height: 2px;
  line-height: 50%;
  background-color: black;
}

/* trending now */
.trend-header {
  text-align: center;
  padding: 15px;
  background: url(./Trending\ images/trending-bg.png) no-repeat center;
  background-size: cover;
  margin-top: 20px;
}
.trend-header h1 {
  color: #ff0057;
  font-weight: 900;
  font-size: 40px;
  font-family: cursive;
}
.trend-header span {
  color: darkgoldenrod;
  font-size: 20px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.trend {
  padding: 0px 20px;
}

.trend-img {
  height: 210px;
}
.trend hr {
  color: black;
  height: 2px;
  line-height: 50%;
  background-color: black;
}
.trend-price {
  font-size: 20px;
}
.trend-span {
  font-size: 16px;
}
.trend-strike {
  color: rgb(230, 75, 75);
  font-size: 12px;
}

/* footer */
.text-center {
  background-color: rgba(0, 0, 0, 0.05);
}
.footer {
  margin-top: 15px;
}

/* Account Form */
.hidden {
  display: none !important;
}
.wrong-login {
  display: flex !important;
  color: red;
}
.account {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.account-content {
  background-color: bisque;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.account-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.account-option {
  text-decoration: none;
  padding: 10px;
  color: #333;
  cursor: pointer;
}

.account-option.active {
  font-weight: bold;
}

/* Hide the "Create Account" fields by default */
.create-account-fields {
  display: none;
}

/* Additional form styling */
.account-form input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.account-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Additional styling for the open button */
#openAccountBtn {
  cursor: pointer;
}

/* Card-Layout Styling */
.card-row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.card-head{
  font-size: 20px;
}
.card-price{
  font-size: 18px;
}
.card-strike{
  color:red;
  font-size:14px;
  padding:5px 3px;
}
/* .card-layout-img{
  width:70% !important;
  height:300px !important;
  margin-left:30px !important;
} */
.prod-card:hover {
  box-shadow: 12px 12px 20px gray;
  background-color: bisque;
  border-radius: 8%;
  transition: transform 0.5s ease-in-out;
}
.zoom:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

/* Add to Cart */
.cart-head{
  background: url(./additional\ images/cart-bg.png) no-repeat center center/cover;
  text-align:center;
  padding:22px;
}
.cart-cardholder{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; 
  padding: 0; 
}
.cart-title{
  color: deeppink;
  font-size: 5vw;
  font-family: fantasy;
}

/* kurti page */
.single-category-section{
  padding-top: 120px;
  padding-left: 6rem;
  background-color: #f9efdf;
}

/* single product page */
.single-product-card{
  padding-top: 80px; 
  background-color: bisque;
  padding-bottom: 2px;
}
.sp-details{
  padding-top: 40px;
}
/* Wishlist */
.wishlist-head{
  background: url(./additional\ images/wishlist-bg-2.jpg) no-repeat center center/cover;
  text-align:center;
  padding:22px;
}
.wishlist-cardholder{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; 
  padding: 0; 
}
.wishlist-title{
  font-size: 5vw;
  font-family: fantasy;
}


/* Buy Now */
.buynow-cardimg{
  height:96%;
  width:122%;
  border-top:1px solid #e9e1e1;
  border-bottom:1px solid #e9e1e1;
  border-right:1px solid #e9e1e1;
}
.buynow-card{
  padding: 10vw;
  padding-bottom:0;
}
.buynow-price{
  font-weight: bold;
  font-size: 2vw;
}
.buynow-total{
  font-size: 1.5vw;
}
.mt-3{
  margin-top: 3rem !important;
}

/* Confirm Order Form */
.form-label{
  margin-left: 0;
}
.finaldetails-container{
  padding-top:10vw;
  display:flex;
}
.finaldetails-content{
  display:flex;
  justify-content:center;
  flex-direction:column;
}
.confirm-order-btn{
  padding:0.4rem 13.4rem;
}
/* order Confirmed Message */
.msg-container {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 10vw;
}
.order-confirmed-img{
  border-radius:50%;
}

.centered {
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.continue-shopping-btn{
  font-size: 20px;
}

/* Wishlist & Cart Page */
.cart-li,.wishlist-li{
  width: calc(50% - 10px);
  margin: 5px;
}
.cart-card,.wishlist-card{
  flex-direction: row;
}
.cart-card-img,.wishlist-card-img{
  width: 10vw;
  height: 15vw;
}
.cart-placeOrder-btn{
  padding:1rem 20rem;
  border-radius:2rem;
}


@media screen and (max-width:768px) {
  .navbar-toggler{
    padding: 2px !important;
    margin-right: 5px;
  }
  .qumash-logo{
    height: 55px;
    width: 100px;
  }
  .navbar{
    padding: 0px !important;
  }
  .section{
    height: 30rem !important;
  }
  .hide{
    display: none;
  }
  .heading4{
    font-size: 1.2rem !important;
  }
  .deals-img{
    height: 180px;
  }
  .deals-header{
    padding: 2px;
  }
  .deals-span{
    font-size: 12px !important;
  }
  .deals-price{
    font-size: 15px;
  }
  .deals-strike{
    font-size: 10px;
  }

  .rb-img{
    height: 180px;
  }
  .rb-header{
    padding: 0px;
  }
  .rb-span{
    font-size: 12px !important;
  }
  .rb-price{
    font-size: 15px;
  }
  .rb-strike{
    font-size: 10px;
  }

  .brand-header{
    padding: 0px !important;
  }
  .brands-img{
    height: 180px;
  }
  .brands-logo {
    height: 45px;
    width: 60px !important;
  }

  .trend-header{
    padding: 5px !important;
  }
  .trend-span{
    font-size: 12px !important;
  }
  .trend-price{
    font-size: 15px;
  }
  .trend-strike{
    font-size: 10px;
  }
  .trend-img{
    height: 180px;
  }
  .card-details{
    font-size: 10px !important;
  }
  .card-head{
    font-size: 12px;
  }
  .card-price{
    font-size: 12px;
  }
  .card-strike{
    color:red;
    font-size:10px;
    padding:5px 3px;
  }
  .card-layout-img{
    /* width:90% !important; */
    height:180px !important;
    /* margin-left:2px !important; */
  }
  .css-46bh2p-MuiCardContent-root {
    padding: 0px !important;
  }
  .single-category-section{
    padding-top: 50px !important;
    padding-left: 0px ;
  }
  ul{
    font-size: 0.8rem;
  }
  .search-form {
    width: 360px;
    margin-left: 1px;
}
  .user-icon{
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    border: none;
    background: none;
    padding-top: 9px;
    padding-left: 2px !important;
  }
  .wishlist-icon {
    height: fit-content;
    width: fit-content;
    border: none;
    background: none;
    padding-left: 0;
  }
  .single-product-card{
    padding-top: 55px; 
    background-color: bisque;
  }
  .zoom{
    width: 45%;
  }
  .spp{
    padding-bottom: 1rem;
  }
  .p-4{
    padding: 0 5px !important;
  }
  .p-3{
    padding: 0 !important;
  }
  .sp-details{
    padding-top: 5px;
  }
  .sp-head{
    font-size: 1.5rem;
  }
  .sp-description{
    font-size: 1rem;
  }
  .mt-5{
    margin-top: 0 !important;
  }
  .sp-btns{
    display: flex;
    padding: 0 11px;
    justify-content: space-between;
  }

  .buynow-card{
    padding: 13vw 0 0 8vw;
    padding-bottom:0;
  }
  .buyNow-card-body{
    padding: 0 !important;
  }
  .card-title {
    margin-bottom: 0 !important;
    font-size: 1.5rem !important;
  }
  .buynow-price{
    font-weight: bold;
    font-size: 4vw;
  }
  .buynow-total{
    font-size: 4.5vw;
  }
  .place-order-btn{
    padding: 0.2rem 6.169rem;
  }
  .confirm-order-btn{
    padding:0.4rem 7.5rem;
  }
  .confirm-order-head{
    padding: 1rem 4rem;
  }
  .left-box{
    background: url("./additional images/confirmOrder.jpg");
  }
  .msg-container{
    padding-left: 0 !important;
  }
  .order-confirmed-img{
    border-radius: 0%; 
    height: 33.6rem;
    width: 30rem;
    margin-left: -22px;
  }
  .centered{
    position: absolute;
    top: 53%;
    left: 0%;
    transform: translate(7%, 0%);
  }
  .centered p{
    padding-right: 21px;
  }
  .continue-shopping-btn{
    font-size: 14px;
  }
  .cont{
    padding-top: 3px;
  }
  .cart-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Ensure it's above other content */
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  .cart-btn img {
    height: 30px;
    width: 30px;
  }
  
  .cart-btn:hover {
    height: 60px;
    width: 60px;
  }
  .cart-cardholder,.wishlist-cardholder{
    display: block;
  }
  .cart-li,.wishlist-li{
    width: auto;
    margin: 5px 0px;
  }
  .cart-card,.wishlist-card{
    flex-direction: row;
    width: 22rem;
  }
  .cart-card-img,.wishlist-card-img{
    width: 26vw;
    height: 41vw;
  }
  .cart-card-body,.wishlist-card-body{
    padding: 0 5px !important;
  }
  .wishlist-btn{
    padding: 0.1rem 0.3rem;
  }
  .cart-title,.wishlist-title {
    font-size: 8vw;
    font-family: fantasy;
  }
  .cart-head,.wishlist-head{
    padding: 50px;
    padding-bottom: 8px;
  }
  .cart-card-btn{
    padding: 2px 10px;
  }
  .cart-placeOrder-btn{
    padding:1rem 8.15rem;
  }
}